# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Generated client files
example/vanilla/client/static/api/
example/vanilla/client/static/app.js
example/react/client/src/api/
example/react/client/dist/
